/* ==========================================================================
                    Components shared among >= 1 page
   ========================================================================== */

/**
 * COMPONENTS SUMMARY
 * 
 * - Centralized Component
 * - Uppercase and Lowercase Component
 * 
 */


/* Centralized Component
   ========================================================================== */
.centralized {
    /* Display and Box Model */
    display: table;

    > * {
        /* Display and Box Model */
        display: table-cell;

        /* Other */
        vertical-align: middle;
    }
}

.centralized.wider {
    /* Display and Box Model */
    width: 100%;
}

/* Uppercase and Lowercase Component
   ========================================================================== */
.uppercase {
    text: {
        transform: uppercase;
    }
}

.lowercase {
    text: {
        transform: lowercase;
    }
}