/* ==========================================================================
                            Home Page SCSS
   ========================================================================== */

/**
 * COMPONENTS SUMMARY
 * 
 * - Elephant carousel Fix
 * - Owl Panel Fix
 *
 */

 /* Elephant carousel Fix
   ========================================================================== */
.home .elephant-carousel,
.home .elephant-carousel .item img  {
    /* Positioning */
    min-height: rem-calc(600);
}

 /* Owl Panel Fix
   ========================================================================== */
.owl-panel-info {
    /* Display & Box Model */
    width: rem-calc(300);

    /* Font */
    font: {
        family: $courier-new;
    }

    /* Text */
    text: {
        align: center;
    }

    /* Color */
    color: #fff;
}