/* ==========================================================================
                                Common CSS and Fixes
   ========================================================================== */

/**
 * COMPONENTS SUMMARY
 * 
 * - Top Menu Space Fix
 * - Site Content Wrapper Fix
 * - Site Colors
 * - Site Headers .h-font_name-font_size
 */


/* Top Menu Space Fix
   ========================================================================== */
body:not(.home) #site_header{
    height: rem-calc(322);

    @include breakpoint(medium only) {
        height: rem-calc(600);
    }

    @include breakpoint(small only) {
        height: rem-calc(600);
    }
}

/* Site Content Wrapper Fix
   ========================================================================== */
#site_content_wrapper {
    background: #fff;
    padding: rem-calc(85) 0;
}

/* Site Colors
   ========================================================================== */

.arrow-town {
    /* Color */
    color: #7f7c67;
}

.timber-green {
    color: #3b403c;
}

/* Site Headers .h-font_name-font_size
   ========================================================================== */

.h-parfumarie-106 {

    /* Font */
    font: {
        family: $parfumerie-script-pro;
        size: rem-calc(106);
    }

    &.squeezed {
        /* Other */
        line-height: 0.4;
    }
}

.h-parfumarie-94 {

    /* Font */
    font: {
        family: $parfumerie-script-pro;
        size: rem-calc(94);
    }

    &.squeezed {
        /* Other */
        line-height: 0.4;
    }
}

.h-sackers-22 {
    /* Font */
    font: {
        family: $sackers-gothic-std-light;
        size: rem-calc(22);
    }
}