/* ==========================================================================
                                    Global Variabels
   ========================================================================== */

$parfumerie-script-pro: ParfumerieScriptPro;
$sackers-gothic-std-light: SackersGothicStd-Light;
$sackers-light-roman-alt: SackersLightRomanAlt;
$sackers-heavy-roman-alt: SackersHeavyRomanAlt;
$sackers-light-roman: SackersLightRoman;
$sackers-heavy-roman: SackersHeavyRoman;
$open-sans: 'Open Sans', sans-serif;
$courier-new: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;