/* ==========================================================================
                                Owl Panel Component
   ========================================================================== */
   
.owl-panel-carousel-wrapper {

    /* Positioning */
    position: relative;
}

.owl-panel {
    
    /* Positioning */
    position: absolute;

    /* Display & Box Model */
    display: table;


    &.top {
        /* Positioning */
        top: rem-calc(50);
    }

    &.bottom {
        /* Positioning */
        bottom: rem-calc(50);
    }

    &.left {
        /* Positioning */
        left: rem-calc(50);
    }

    &.right {
        /* Positioning */
        right: rem-calc(50);
    }
}

.owl-panel-control {
    /* Display & Box Model */
    display: table-cell;
    padding: rem-calc(5);

    /* Other */
    cursor: pointer;
    opacity: 0.6;
    vertical-align: middle;
}

.owl-panel-info {
    /* Display & Box Model */
    display: table-cell;
    padding: rem-calc(5);

    /* Other */
    vertical-align: middle;
}

.owl-panel-pagination {
    /* Display & Box Model */
    margin: 0;
    padding: 0;

    /* List */
    list-style: none;

    li {
        display: none;
    }

    li.active {
        display: block;
    }
}