        <footer id="site_footer">
          <div class="site-map-wrapper">
            <div class="site-map-container">
              <div class="row">
                <div class="site-logo">
                  <img src="{{assets_img}}merrimans-logo-white.png" alt="Merrimans Logo" title="Merrimans Logo"/>
                </div>
                <nav class="footer-navigation">
                  <ul class="menu">
                  {% include 'common/menu_links.inc.html' %} 
                  </ul>
                </nav><!-- end .footer-navigation -->
                <section class="site-map-section hide-for-small-only">
                  <div class="row small-up-2 medium-up-3 large-up-5">
                    <div class="column">
                     <ul>
                        <li><a href="#">Waimea, Big Island</a></li>
                        <li><a href="#">Waimea, Big Island Cafe</a></li>
                        <li><a href="#">Kapalua, Maui</a></li> 
                        <li><a href="#">Poipu, Kauiu Fish House</a></li> 
                        <li><a href="#">Poipu, Kauiu Burgers</a></li>  
                     </ul>
                    </div>
                    <div class="column">
                      <ul>
                        <li><a href="#">Waimea, Big Island</a></li>
                        <li><a href="#">Waimea, Big Island Cafe</a></li>
                        <li><a href="#">Kapalua, Maui</a></li> 
                        <li><a href="#">Poipu, Kauiu Fish House</a></li> 
                        <li><a href="#">Poipu, Kauiu Burgers</a></li>  
                     </ul>
                    </div>
                    <div class="column">
                      <ul>
                        <li><a href="#">Waimea, Big Island</a></li>
                        <li><a href="#">Waimea, Big Island Cafe</a></li>
                        <li><a href="#">Kapalua, Maui</a></li> 
                        <li><a href="#">Poipu, Kauiu Fish House</a></li> 
                        <li><a href="#">Poipu, Kauiu Burgers</a></li>  
                     </ul>
                    </div>
                    <div class="column">
                      <ul>
                        <li><a href="#">Waimea, Big Island</a></li>
                        <li><a href="#">Waimea, Big Island Cafe</a></li>
                        <li><a href="#">Kapalua, Maui</a></li> 
                        <li><a href="#">Poipu, Kauiu Fish House</a></li> 
                        <li><a href="#">Poipu, Kauiu Burgers</a></li>  
                     </ul>
                    </div>
                    <div class="column">
                      <ul>
                        <li><a href="#">Waimea, Big Island</a></li>
                        <li><a href="#">Waimea, Big Island Cafe</a></li>
                        <li><a href="#">Kapalua, Maui</a></li> 
                        <li><a href="#">Poipu, Kauiu Fish House</a></li> 
                        <li><a href="#">Poipu, Kauiu Burgers</a></li>  
                     </ul>
                    </div>
                  </div>
                </section><!-- end .site-map-section -->
              </div><!-- end .row -->
            </div><!-- end .site-map-container -->
          </div><!-- end .site-map-wrapper -->
          <div class="copyright-and-social-medias row">
            <div class="social-medias">
              <ul>
                <li><a href="#"><img src="{{assets_img}}facebook.png" alt="Facebook" title="Facebook"/></a></li>
                <li><a href="#"><img src="{{assets_img}}twitter.png" alt="Twitter" title="Twitter"/></a></li>
                <li><a href="#"><img src="{{assets_img}}instagram.png" alt="Instagram" title="Instagram"/></a></li>
              </ul>
            </div>
            <div class="copyright">
              <p>This website was made in the streets and surf of Hawaii</p>
              <p>Copyright 2013 Merriman’s Hawaii</p>
            </div>
          </div><!-- end .copyright-and-social-medias -->
        </footer><!-- end #site_footer -->
      </div><!-- end #site_container -->
    </div><!-- end #page_container -->
    <script src="{{assets_js}}script.js"></script>
    <script src="//localhost:35729/livereload.js"></script>
  </body>
</html>