<section class="grid">
  <div class="cell kapalua" onclick="visit('/kapalua/')">
    <div class="picture">
      <img src="{{assets_img}}house1.jpg" alt="House 1" title="House 1"/>
    </div><!-- end .text -->
    <div class="text ziggurat-bg">
      <div class="text-wrapper">
        <div class="centralize">
          <div class="map"><img src="{{assets_img}}kapalua_map.png" alt="Map" title="Map"/></div>
          <div class="location">
            <div class="establishment-and-city">
              <h3>Merriman's</h3> <h4>Kapalua</h4>
            </div>
            <ul class="menu">
              <li><a href="#">Reservations</a></li>
              <li><a href="/kapalua/menus/">Menus</a></li>
            </ul>
          </div>
        </div><!-- end .centralize -->
      </div><!-- end .text-wrapper -->
    </div><!-- end .picture -->
  </div><!-- end .cell -->
  <div class="cell fish-house" onclick="visit('/fish-house/')">
    <div class="text calico-bg">
      <div class="text-wrapper">
        <div class="centralize">
          <div class="map"><img src="{{assets_img}}poipu_map.png" alt="Map" title="Map"/></div>
          <div class="location">
            <div class="establishment-and-city">
              <h3>Merriman's</h3> <h4>Poipu</h4>
            </div>
            <h5>fish house</h5>
            <ul class="menu">
              <li><a href="#">Reservations</a></li>
              <li><a href="/fish-house/menus/">Menus</a></li>
            </ul>
          </div>
        </div><!-- end .centralize -->
      </div><!-- end .text-wrapper -->
    </div><!-- end .text -->
    <div class="picture">
      <img src="{{assets_img}}house2.jpg" alt="House 2" title="House 2"/>
    </div><!-- end .picture -->
  </div><!-- end .cell -->
  <div class="cell waimea" onclick="visit('/waimea/')">
    <div class="picture">
      <img src="{{assets_img}}house3.jpg" alt="House 3" title="House 3"/>
    </div><!-- end .text -->
    <div class="text glade-green-bg">
      <div class="text-wrapper">
        <div class="centralize">
          <div class="map"><img src="{{assets_img}}waimea_map.png" alt="Map" title="Map"/></div>
          <div class="location">
            <div class="establishment-and-city">
              <h3>Merriman's</h3> <h4>Waimea</h4>
            </div>
            <ul class="menu">
              <li><a href="#">Reservations</a></li>
              <li><a href="/waimea/menus/">Menus</a></li>
            </ul>
          </div>
        </div><!-- end .centralize -->
      </div><!-- end .text-wrapper -->
    </div><!-- end .picture -->
  </div><!-- end .cell -->
  <div class="cell gourmet-pizza-burgers" onclick="visit('/gourmet-pizza-burgers/')">
    <div class="text charm-bg">
      <div class="text-wrapper">
          <div class="centralize">
          <div class="map"><img src="{{assets_img}}poipu_map.png" alt="Map" title="Map"/></div>
          <div class="location">
            <div class="establishment-and-city">
              <h3><img src="{{assets_img}}gourmet-pizza-burgers.png" alt="Gourmet Pizza & Burgers by Merriman's Poipu" title="Gourmet Pizza & Burgers by Merriman's Poipu"/></h3>
              <h4>Poipu</h4>
            </div>
            <ul class="menu">
              <li><a href="#">Reservations</a></li>
              <li><a href="/gourmet-pizza-burgers/menus/">Menus</a></li>
            </ul>
          </div>
        </div><!-- end .centralize -->
      </div><!-- end .text-wrapper -->
    </div><!-- end .text -->
    <div class="picture">
      <img src="{{assets_img}}house4.jpg" alt="House 4" title="House 4"/>
    </div><!-- end .picture -->
  </div><!-- end .cell -->
</section><!-- end .grid -->