<li class="navigation"><a href="#">navigation</a></li>
            <li {% if menu and menu == 'locations' %} class="active"{%endif%}><a href="/locations/">locations</a></li>
            <li {% if menu and menu == 'reservation' %} class="active"{%endif%}><a href="#">reservation</a></li>
            <li {% if menu and menu == 'about us' %} class="active"{%endif%}><a href="/about-us/">about us</a></li>
            <li {% if menu and menu == 'gift cards' %} class="active"{%endif%}><a href="#">gift cards</a></li>
            <li {% if menu and menu == 'cookbook' %} class="active"{%endif%}><a href="#">cookbook</a></li>